:root {
    --contentTextColor: rgb(0, 0, 0);
    --contentBGColor: rgb(225, 225, 225, 0);
    --borderColor: rgb(142, 142, 142);
    --primaryButtonBGColor: rgb(32, 2, 100);
    --primaryButtonTextColor: rgb(255, 255, 255);
}

/* *:focus-visible{
    outline: .2rem solid rgba(var(--color-foreground));
    outline-offset: .3rem;
    box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground), .3);
} */
.password-outermost-container {
    background-color: var(--contentBGColor);
    color: var(--contentTextColor);
    transition: left .3s, opacity .3s;
    margin-left: 242px;
    /* float: right;             */
    /* doubt what is calc(100%-242px) */
    width: calc(100% - 242px);
}

.password-outermost-container2 {
    position: relative;
    width: 100%;
}

.password-outermost-container3 {
    height: 100%;
    width: 100%;

}

.password-wrapper {
    height: 100%;
    padding: 0 10px;
}

.password-outer-container {
    margin-left: -15px;
    margin-right: -15px;
}

.password-inner-container {
    margin-bottom: 15px !important;
}

.pass-second-inner-container {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* .password-inner-container2{
    width: 50%;
} */
.password-innermost-container {
    display: block;
    position: relative;
    width: 100%;

    /* added myself line-height:1.5 */
    line-height: 1.5;
}

.pass-label {
    color: var(--contentTextColor);
    cursor: auto;
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 3px;
    margin-left: 0;
    min-width: 145px;
    position: relative;
    text-transform: capitalize;
}

.pass-input {
    appearance: none;
    cursor: text;
    align-items: center;
    display: flex;
    justify-content: center;
    background: 0 0 !important;
    border: 1px solid !important;
    border-color: var(--borderColor);
    border-radius: 7px;
    /* box-shadow: none !important; */
    color: var(--contentTextColor) !important;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 36px;
    line-height: 1.2 !important;
    margin: 0 !important;
    outline: 0;
    padding: 8px;
    position: relative;
    text-align: left;
    transition: all .3s ease;
    vertical-align: initial;
    width: 100%;
}

.pass-err-mssg {
    background: #000;
    border-radius: 5px;
    position: absolute;
    bottom: -47px;
    color: #fff;
    display: none;
    opacity: 0;
    padding: 10px;
    transition: opacity .5s;
    z-index: 10;
}

.pass-btn {
    background: var(--primaryButtonBGColor);
    border: 1px solid var(--primaryButtonBGColor) !important;
    border-radius: 5px;
    color: var(--primaryButtonTextColor);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 14px; */
    min-height: 14px;
    outline: 0;
    padding: 10px 20px;
    text-align: center;
    text-transform: none;
    transition: all .3s;
    vertical-align: initial;
}












/* ------------------------------ */
@media screen and (max-width: 992px) {
    .password-wrapper {
        padding: 10px;
    }

    .password-outermost-container {
        /* width: 100%; */
    }

    /*margin-left:0,height:auto "I added"  */
    .password-outermost-container {
        margin-left: 0;
        /* height: auto; */

        display: block;
        float: none !important;
        position: relative;
        left: 0;
        opacity: 1;
        width: 100% !important;


    }
}

@media screen and (min-width: 992px) {
    .password-inner-container2 {
        width: 50%;
    }
}